<article class="site-article page-article-wrapper">
    <div class="site-article__intro">
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{page.icon}}" alt="Typeface Memiliki Perasaan" class="site-article__icon">
        <span class="site-article__info">
            <h1 class="site-article__title">{{page.title}}</h1>
            <small class="site-article__date oldstyle"><date>{{page.date | date: "%-d %B %Y"}}</date> &mdash; {{page.category}}</small>
            <small>Oleh {{page.author}}</small>
        </span>
    </div>
    {{content}}
</article>