<section class="site-article__fav page-wrapper">
    <h5 class="site-article__section-heading">Rekomendasi Bacaan</h5>
    <ol class="site-article__list-list">
        {%if page.url contains "/desain/"%}
            {%for post in site.categories.tipografi limit: 3%}
            <li class="site-article__list-item">
                {%include list.html%}
            </li>
            {% endfor %}
        {%elsif page.url contains "/tipografi/"%}
            {%for post in site.categories.desain limit: 3%}
            <li class="site-article__list-item">
                {%include list.html%}
            </li>
            {% endfor %}
        {%elsif page.url == "/404.html"%}
            {%for post in site.posts limit: 3%}
            <li class="site-article__list-item">
                {%include list.html%}
            </li>
            {%endfor%}
        {%endif%}
    </ol>
</section>
