<head>
    <style>
        {% capture include_to_scssify %}
            {% include style.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>{%if page.title == 'Tertanda'%}{{page.desc}}{% else %}{{page.title}}{%endif%}</title>
    <meta name="google-site-verification" content="8mSPMAdsshxKE9V3Xw6J91mHoVZYthgaTN5pOrNZLhQ" />
    <meta name="msvalidate.01" content="C7F5E7096B24E18D4EAA3FB823D27B0A" />
    <meta name="description" content="{{page.meta}}">
    <link rel="shortcut icon" href="https://cdn-images-1.medium.com/max/800/1*kThcv6OvEVNtbguNMMMg6A.png">
    <link rel="apple-touch-icon-precomposed" href="https://cdn-images-1.medium.com/max/800/1*kThcv6OvEVNtbguNMMMg6A.png">
    <link rel="canonical" href="{{page.url}}">
</head>
