<head>
    <style>
        {% capture include_to_scssify %}
            {% include style.scss %}
        {% endcapture %}
        {{ include_to_scssify | scssify }}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>{%if page.title == 'Tertanda'%}{{page.desc}}{% else %}{{page.title}}{%endif%}</title>
    <meta name="google-site-verification" content="8mSPMAdsshxKE9V3Xw6J91mHoVZYthgaTN5pOrNZLhQ" />
    <meta name="description" content="{{page.meta}}">
    <meta name="theme-color" content="#1976d2">
    <link rel="shortcut icon" href="https://cdn-images-1.medium.com/max/800/1*r5GWOucqT9IynBCJQ4gTuw.png">
    <link rel="apple-touch-icon-precomposed" href="https://cdn-images-1.medium.com/max/800/1*r5GWOucqT9IynBCJQ4gTuw.png">
    <link rel="canonical" href="{{page.url}}">
</head>
