.site-article__latest {
    a {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}

.site-article__preview {
    color: #333;
    display: block;
    line-height: 1.425;
    margin-bottom: 1rem;
    margin-top: 1rem;
}